.check-in-record {
    /* margin: 0 0 15px 0; */
    margin-bottom: 15px;
    padding-left: 16px;
}

.name-and-score {
    margin-right: 8px;
    display: inline-block;
    width: 120px;
    vertical-align: top;
}

.score {
    background-color: #97ffab;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 8px;
}

.comment {
    display: inline-block;
}